<div class = "basic-grey">
  <p id="notice"><%= notice %></p>

  <h1><%= "#{t('messages.listing')} #{@adrresses.model.model_name.human(count: @adrresses.count)}" %></h1>

  <table>
    <thead>
      <tr>
        <th><%= Adrress.human_attribute_name("street")%></th>
        <th><%= Adrress.human_attribute_name("city")%></th>
        <th><%= Adrress.human_attribute_name("state")%></th>
        <th><%= "#{t('messages.contact')}"%></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @adrresses.each do |adrress| %>
        <tr style="background: <%=cycle('', 'white')%>">
          <td><%= adrress.street %></td>
          <td><%= adrress.city %></td>
          <td><%= adrress.state %></td>
          <td><%= adrress.contact.name %></td>
          <td><%= link_to t('buttons.show'), adrress %></td>
          <td><%= link_to t('buttons.edit'), edit_adrress_path(adrress) %></td>
          <td><%= link_to t('buttons.destroy'), adrress, method: :delete, data: { confirm: t('messages.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
<%= paginate @adrresses %>
  <br>

  <%= link_to t('buttons.new'), new_adrress_path %>
</div>
